*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.test{
    display: flex;
    align-items: center;
    border-left: 4px solid #44ff44;
    /* min-width: 350px;
    min-height: 100px; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.wifiicon{
    height: 100%;
}
i:first-child{
    text-align: center;
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 1.8em;
    border-radius: 50%;
    margin-right: 15px;
    background: #44ff44;
    color: white;
}
.message h3{
    font-weight: 500;
    font-size: 1.3em;
}
.message p{
    color: #777777;
}
i:last-child{
    background-color: #f0f0f0;
    color: #777;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    margin-left: 20px;
    cursor: pointer;
}
.Online,.offline{
    display: none;
}
.offline i:first-child{
    background-color: #f0f0f0;
    color: #777;
}
.offline{
    border-left-color: #777;
}